<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Manual training</h1>
    <div class="chat__training">
        <form id="trainingForm">
            <label for="question">Câu hỏi:</label><br>
            <input type="text" id="question" name="question"><br>
            <label for="answer">Câu trả lời:</label><br>
            <input type="text" id="answer" name="answer" class="input__training"><br><br>
            <button type="button" class="send__training__button">Submit</button>
        </form>
    </div>
    </div>
    <div>
        <h1>Option chatbot</h1>
        <div>
            <button class="auto_training_button">Training dữ liệu mẫu</button>
            <button class="delete_button">Xóa dữ liệu được training</button>
            <button class="export_button">Xuất ra json</button>
        </div>
    </div>
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat bot</h4>
                    <p class="chatbox__description--header">Hi. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="/static/images/chatbox-icon.svg" /></button>
        </div>
    </div>
</div>
<div class="logout-container">
    <button onclick="window.location.href='/logout' ;localStorage.setItem('loggedIn', 'false');" class="logout-button">Logout</button>
</div>

    <script src="/static/app.js"></script>

</body>
</html>